body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.hero {
    background: #23475b;
    color: white;
    padding: 32px 15px;
    display: grid;
    grid-template-columns: minmax(auto , 1024px);
    justify-content: center;

}
.hero-container {
    display: grid;
    grid-template-columns: 70px 1fr 320px;/*dos estaticas y una dinamica*/
    grid-template-areas: "badge title form"
                         ". description form" /*espacio en blanco se pone punto*/
                         ".  countdown form";
                         /*tres filas*/
    grid-gap: 10px;


}

.badge {
    grid-area: badge;/*designar independientmente*/
}
.badge img {
    max-width: 70px;
}
.title {
    grid-area: title;/*designar independientmente*/
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    display: flex;
    align-items: center;
}
.form {
    grid-area: form;/*designar independientmente*/
    text-align: center;
    background: rgba(255, 255, 255, .9);
    padding: 24px;
    border-radius: 10px;
}
.form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dbdbe2;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.form p {
    font-size: 20px;
    color: #3a3b3f;
    margin-bottom: 20px;
}
.form button {
    background: #98ca3f;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    border-bottom: 5px solid #6d932b;
    display: inline-block;
}
.countdown {
    grid-area: countdown;/*designar independientmente*/
}

.countdown p {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}
.countdown span {
    font-size: 33px;
}
.countdown span::after {
    content: ":";
    display: inline-block;
    margin: 0 5px;
}
.countdown span:last-child {
    display: none;
}
p {
    margin: 0px;
}
.description {
    grid-area: description;
}